@model BestRestaurants.Models.Cuisine;
@using BestRestaurants.Models;


<h3>@Model.Name</h3>

@foreach (Restaurant restaurant in ViewBag.restaurantsOfCuisine)
{
    <li>@Html.ActionLink($"{restaurant.Name}", "Details", "Restaurant", new {id = restaurant.RestaurantId})</li>
}

<h3>@Html.ActionLink("Add a new restaurant to this cuisine", "Create", "Restaurant", new {id = Model.CuisineId})</h3>
<h3>@Html.ActionLink("Back to cuisines", "Index")</h3>